/* Core Styles */
body{
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #333;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img{
  display: block;
  width: 100%;
  height: auto;
}

p{
  margin: 0;
  padding: 1em 0;
}

/* header */
#title{
  display: grid;
  min-height: 100px;
  color: #333;
  text-align: right;
}

h1{
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  font-size: 26px;
}

h2{
  margin: 0;
  padding-top:0;
  padding-bottom: 0;
  grid-row: 2;
  grid-column: 1 / 4;
  font-size: 16px;
}

.logo{
  width: 180px;
  min-height:100px, auto;
  grid-row:1 / 3;
  grid-column: 1 / 2;
}

/* main area */

/* section-b */
h3{
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

#section-b{
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-column-gap: 1em;
  margin-top: 0;

}
#section-b .project{
  text-align: center;
  margin: 0;
}

h4{
  margin: 0;
}
.project{
  margin: 0;
  text-align: center;
  align-content: center;
}
.proj-img{
  display: inline-block;
  width:80px;
  height: 80px;
}

/* footer */
footer{
  padding: 2em;
  font-size: 8px;
  text-align: center;
}
